[Unit]
Description={{service_name_altered}}
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30s
ExecStartPre=-/usr/bin/docker kill {{service_name_altered}}
ExecStartPre=-/usr/bin/docker rm -f {{service_name_altered}}
ExecStart=/bin/sh -c "/usr/bin/docker run \
{{ start_args.split(" -v") | join(' \\\n -v') }} \
> /dev/null"
ExecStop=/usr/bin/docker stop -t 60 {{service_name_altered}}

[Install]
WantedBy=default.target

